<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @broker.siren %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @broker.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @broker.longitude %>
</p>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@broker.latitude},#{@broker.longitude}&zoom=12&size=400x400&markers=color:red%7Clabel:%7C#{@broker.latitude},#{@broker.longitude}&key=#{Rails.application.secrets[:google_maps_api_key]}" %>
<%= link_to 'Edit', edit_place_path(@broker) %>
<%= link_to 'Back', brokers_path %>
